@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-default-200;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  font-family: Popins, sans-serif;
  cursor: default;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.app,
#root,
#__next {
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}

i,
span {
  -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
button {
  overflow-wrap: break-word;

  &::selection {
  }
}

#root,
#__next {
  isolation: isolate;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #252A34 inset !important;
  box-shadow: 0 0 0 30px #252A34 inset !important;
  -webkit-text-fill-color: #A3B8C7 !important;
  text-fill-color: #A3B8C7 !important;
  background-color: #252A34 !important;
}