@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-default-200;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.font-ibm {
  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  font-family: Popins, sans-serif;
  cursor: default;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.app,
#root,
#__next {
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}

i,
span {
  -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
button {
  overflow-wrap: break-word;

  &::selection {
  }
}

#root,
#__next {
  isolation: isolate;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #252a34 inset !important;
  box-shadow: 0 0 0 30px #252a34 inset !important;
  -webkit-text-fill-color: #a3b8c7 !important;
  text-fill-color: #a3b8c7 !important;
  background-color: #252a34 !important;
}

.custom-shape-divider-top-1723244705 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1723244705 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1723244705 .shape-fill {
  fill: #15191e;
}

.google-visualization-tooltip {
  background: transparent !important; /* Make background transparent */
  box-shadow: none !important; /* Remove default shadow */
  border: none !important; /* Remove default border */
}

.google-visualization-tooltip li:first-child {
  display: none; /* Hides the first <li> child in the tooltip */
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

*::selection {
  background-color: #1a1e25;
  color: #3cbab1;
}
